.task-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 15px;
  min-height: 106px;
  border-radius: 5px;
  max-width: 100%;
  /* background: ${({ isDragging }) =>
      isDragging ? "rgba(255, 59, 59, 0.15)" : "white"}; */
  background: white;
  margin-top: 15px;
  gap: 2rem;
  padding: 2rem;
}

.task-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.priority-container {
  align-self: flex-end;
}
.priority-high {
  border-top: 5px solid red;
}

.priority-medium {
  border-top: 5px solid #404040;
}

.priority-low {
  border-top: 5px solid #20ff00;
}

.task-dueDate {
  color: #404040a4;
  font-size: 1em;
}

.task-icons {
  display: none;
}

.task-info:hover .task-icons {
  display: flex;
}

.task-editForm {
  display: flex;
  gap: 0.5rem;
}
