.box-container,
.card-container {
  display: flex;
  justify-content: center;
}

.box-container {
  height: 100%;
  align-content: center;
}

.card-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  margin: auto;
  padding: 1.5rem 5rem;
  border-radius: 2rem;
  background-color: #f6f6f6;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
